.avDetails {
  display: flex;
  width: 95%;
  .details {
    position: relative;
    top: 5rem;
    padding: 0 0 0 0.5rem;
  }
  @media screen and (max-width: 1140px) {
    flex-direction: column;
    .details {
      padding: 0;
      top: 0;
      align-items: center;
    }
    .avatar {
      align-self: center;
    }
  }
}
