.profile {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 27.5rem;
  display: flex;
  .banner {
    // position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .avDetails {
    position: absolute;
    left: 5%;
    top: 15rem;
  }
  @media screen and (max-width: 1140px) {
    width: 95vw;
    height: 36rem;
    .avDetails {
      top: 15rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
